@tailwind base;
@tailwind components;
@tailwind utilities;

.contentData {}

.contentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contentResultTemp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tempLabel{
    
}